@model ShoppingBuddyWebApplication.Controllers.viewModels.FavoritesViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit favorite @Model.Favorites.Name</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Favorites.Id" />
            <div class="form-group">
                <label asp-for="Favorites.Name" class="control-label"></label>
                <input asp-for="Favorites.Name" class="form-control" />
                <span asp-validation-for="Favorites.Name" class="text-danger"></span>
            </div>
            <br />
            Product
            @Html.ListBoxFor(m => m.Favorites.ProductIds, new SelectList(Model.Products, "Id", "Name"), new { @class = "form-control select2", multiple = "multiple" })
            <script>
                $(document).ready(function () {
                    $('.select2').select2();
                });
            </script>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
